body{
    text-align: center;
    color:rgb(255, 255, 146);
    border: 2px solid rgb(255, 255, 146);
    width: 50%;
    margin: auto;
    background-color: cadetblue;
}
p {
    color: black;
    font-weight: bold;
    width: 200px;
    
}
a:hover{
    color: purple;
}
#button{
    margin:auto;
    background-color: burlywood;
    text-align: center;
    align-self: center;
    border-collapse: separate;
    border: 3px solid brown;
    padding: 1px;
    margin-bottom: 15px;
    margin-top: 40px;
    
}
#text{
    width: auto;
    margin:auto;
    color: white;
    text-align: center;
    font-size: xx-large;
    margin-bottom: 20px;
}